.about {
  padding: 1.5rem;
  margin-top: 1.5rem;
  background-color: #5a803d;
  border: 4px solid #153c6b;
}
.info {
   margin-bottom: 1.2rem;
   font-size: 1.7rem;
   line-height: 1.3;
}
.link {
   display: inline-block;
   padding: 1.2rem 1.8rem;
   background-color: #153c6b;
   border-radius: 1.2rem;
   color: #ffffff;
   text-transform: uppercase;
   transition: all .3s ease-in-out;
}
.link:hover {
   background-color:  #090c1b;
}
